﻿@{
    ViewData["Title"] = "Napier Cause";
}



            <div class="w3layouts-banner-slider">
                <div class="container">
                    <div class="slider">
                        <div class="callbacks_container">
                            <ul class="rslides callbacks callbacks1" id="slider4">
                                <li>
                                    <div class="agileits-banner-info">
                                        <h3>
                                            Equality in all Fronts
                                            <div class="border"></div> <span>We Fight</span>
                                        </h3>
                                        <div class="w3-button">
                                            <div class="w3l-button">
                                                <a href="@Url.Action("Create", null, new { area = string.Empty, controller = "Causes" }, Request.Url.Scheme)" class="scroll hvr-shutter-out-vertical">Create a Cause</a>
                                            </div>

                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </li>
                               
                              
                            </ul>
                        </div>
                        <div class="clearfix"> </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- //agileinfo-dot -->
    </div>

<div class="about" id="about">
    <div class="container">
        <div class="w3l-about-grids_inner">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 w3ls-about-left">
                <h2>Let Your Voice Count</h2>
                <h6>Lorem ipsum dolor sit amet,Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</h6>
                <p>
                    Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum
                    neque hendrerit.Lorem ipsum dolor sit amet,Phasellus dapibus felis elit, sed accumsan arcu gravida vitae
                </p>
                <p>
                    Lorem ipsum dolor sit amet,Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus
                    ullamcorper, nec interdum neque hendrerit.
                </p>
                <div class="back-cause">
                    <a href="#contact" class="scroll hvr-shutter-out-vertical">Back a Cause</a>
                </div>
            </div>
            <div class="col-md-3">

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- about -->
<div class="why jarallax" id="features">
    <div class="agile-dot">
        <div class="container">
            <div class="about-heading two">
                <h3>Core Areas</h3>
                <p>We Are Always One Step Ahead</p>
            </div>
            <div class="w3l-about-grids">
                <div class="col-md-4 w3ls-about-why-us-agile">
                    <div class="agileits-icon-grid">
                        <div class="icon-left hvr-radial-out">
                            <i class="fa fa-balance-scale n-icon" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right">
                            <h5>Over Taxing</h5>
                            <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="agileits-icon-grid">
                        <div class="icon-left hvr-radial-out">
                            <i class="fa fa-balance-scale n-icon" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right">
                            <h5>Work Malpractice</h5>
                            <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="agileits-icon-grid">
                        <div class="icon-left hvr-radial-out">
                            <i class="fa fa-balance-scale n-icon" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right">
                            <h5>Assets Disposal</h5>
                            <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-4 w3ls-about-right">
                    <div class="w3ls-about-right-img">

                    </div>
                </div>
                <div class="col-md-4 w3ls-about-why-us-agile">
                    <div class="agileits-icon-grid">
                        <div class="icon-left hvr-radial-out">
                            <i class="fa fa-balance-scale n-icon" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right">
                            <h5>Community Malpractice</h5>
                            <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="agileits-icon-grid">
                        <div class="icon-left hvr-radial-out">
                            <i class="fa fa-balance-scale n-icon" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right">
                            <h5>Tax Fraud</h5>
                            <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="agileits-icon-grid">
                        <div class="icon-left hvr-radial-out">
                            <i class="fa fa-balance-scale n-icon" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right">
                            <h5>Fund Embesslement</h5>
                            <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- news -->
<div class="gallery" id="news">
    <div class="container">
        <div class="about-heading">
            <h3>Ongoing Courses</h3>
            <p>Why Not Lend your Voice For a Better Tomorrow</p>
        </div>
    </div>
    <div class="gallery-grids">
        <div class="gallery-top-grids">
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a href="#">
                        <img src="images/g1.jpg" alt="" />
                        <div class="g-captn">
                            <h4>Legal Adviser</h4>
                            <p>12.Apr.2017</p>
                        </div>
                    </a>
                </div>
                <div class="des_agile_info">
                    <h4>Lorem Ipsupm</h4>
                    <p>Add Some Short Description</p>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a href="#">
                        <img src="images/g2.jpg" alt="" />
                        <div class="g-captn">
                            <h4>Legal Adviser</h4>
                            <p>20.May.2017</p>
                        </div>
                    </a>
                </div>
                <div class="des_agile_info">
                    <h4>Amet Dolor</h4>
                    <p>Add Some Short Description</p>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a href="#">
                        <img src="images/g3.jpg" alt="" />
                        <div class="g-captn">
                            <h4>Legal Adviser</h4>
                            <p>22.May.2017</p>
                        </div>
                    </a>
                </div>
                <div class="des_agile_info">
                    <h4>Lorem Ipsupm</h4>
                    <p>Add Some Short Description</p>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a href="#">
                        <img src="images/g4.jpg" alt="" />
                        <div class="g-captn">
                            <h4>Legal Adviser</h4>
                            <p>27.May.2017</p>
                        </div>
                    </a>
                </div>
                <div class="des_agile_info">
                    <h4>Amet Dolor</h4>
                    <p>Add Some Short Description</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //news -->
<!-- contact -->
<div class="free_agile_consultation contact">
    <div class="col-md-6 free_agile_consultaion_img">


    </div>
    <div class="col-md-6 free_consultation_agile">
        <h4>Free Consultation</h4>
        <h6>Lorem ipsum dolor sit amet,Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</h6>
        <form action="#" method="post">
            <div class="contact-left agileits-w3layouts free_w3ls_agile">
                <input type="text" name="First Name" placeholder="First Name" required="">
                <input class="email" name="Last Name" type="text" placeholder="Last Name" required="">
                <input type="text" name="Number" placeholder="Mobile Number" required="">
                <input class="email" name="Email" type="email" placeholder="Email" required="">
                <select class="form-control">
                    <option>Practice Areas</option>
                    <option value="january">January</option>
                    <option value="february">February</option>
                    <option value="march">March</option>
                    <option value="april">April</option>
                    <option value="may">May</option>
                    <option>Other</option>
                </select>

                <textarea name="Message" placeholder="Message" required=""></textarea>
                <input type="submit" value="SEND REQUEST">
            </div>

        </form>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //contact -->
<!-- offer -->
<div class="jarallax offer">
    <div class="agile-dot">
        <div class="container">
            <div class="about-heading offer-heading">
                <h3>People We’ve Helped</h3>
                <p>You Are Always One Step Ahead</p>
            </div>
            <div class="w3ls-offer-slider">
                <div class="slider">
                    <div class="callbacks_container">
                        <ul class="rslides callbacks callbacks1" id="slider3">
                            <li>
                                <div class="agileinfo-offer-grid">
                                    <h4><i class="fa fa-quote-left" aria-hidden="true"></i></h4>
                                    <h5>Gary Growles</h5>
                                    <p>
                                        Aenean volutpat auctor ultrices. Aliquam ac turpis ultrices, porta enim at, interdum velit. Ut ligula justo, sodales
                                        eu nisi a, molestie dictum leo. Sed blandit porta ante.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="agileinfo-offer-grid">
                                    <h4><i class="fa fa-quote-left" aria-hidden="true"></i></h4>
                                    <h5>Ivan Stepaniv</h5>
                                    <p>
                                        Vestibulum euismod porttitor interdum. Vivamus porta consectetur nulla porttitor hendrerit. Pellentesque ultrices
                                        augue ut nibh feugiat, nec egestas orci cursus.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="agileinfo-offer-grid">
                                    <h4><i class="fa fa-quote-left" aria-hidden="true"></i></h4>
                                    <h5>Jorge Lopez</h5>
                                    <p>
                                        Aenean volutpat auctor ultrices. Aliquam ac turpis ultrices, porta enim at, interdum velit. Ut ligula justo, sodales
                                        eu nisi a, molestie dictum leo. Sed blandit porta ante.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //offer -->
<!-- contact -->
<div class="contact" id="contact">
    <div class="container">
        <div class="about-heading">
            <h3>Contact Us</h3>
            <p>You Are Always One Step Ahead</p>
        </div>
        <div class="w3l-about-grids">
            <div class="contact-info">
                <ul>
                    <li>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        <h5>Address<span>Merchistion Campus, Collington.</span></h5>
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h5>Call Us<span>07404619896</span></h5>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h5>Mail Us<span><a href="mailto:40417376@live.napier.ac.uk">40417376@napier.ac</a></span></h5>
                    </li>
                </ul>
            </div>
            <div class="contact-w3ls-row">
                <form action="#" method="post">
                    <div class="col-md-5 col-sm-5 contact-right agileits-w3layouts">
                        <textarea name="Message" placeholder="Message" required=""></textarea>
                    </div>
                    <div class="col-md-7 col-sm-7 contact-left agileits-w3layouts">
                        <input type="text" name="First Name" placeholder="First Name" required="">
                        <input class="email" name="Last Name" type="text" placeholder="Last Name" required="">
                        <input type="text" name="Number" placeholder="Mobile Number" required="">
                        <input class="email" name="Email" type="email" placeholder="Email" required="">
                        <input type="submit" value="SUBMIT">
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //contact -->
<!-- map -->
